<main class="sacola-vazia flutuante" >
    <app-cabecalho-sacolas></app-cabecalho-sacolas>
    <section class="corpo-sacola-vazia">
        <ul class="conteudo-sacola-vazia">
            <li class="itens-lista-sacola-vazia">
                <img src="assets/img/ico-carrinho.png" alt="">
            </li>
            <li class="itens-lista-sacola-vazia"><b>
                Você não possui itens</b>
            </li>
            <li class="itens-lista-sacola-vazia subtitle">
                Continue navegando para adicionar produtos aqui
            </li>
            <li class="itens-lista-sacola-vazia">
                <button type="button">continuar navegando</button>
            </li>
        </ul>
    </section>
</main>