<section id="reviews-section">
    <p>AVALIAÇÕES E DUVIDAS<span id="sobre-este-produto"> SOBRE ESTE PRODUTO</span></p>
</section>

<div id="avaliações-duvidas-section">
    <section id="avaliações">
        <p class="text-from-reviews-section">Avaliações</p>
        <div id="average-reviews">
            <div id="average-stars"><img src="assets/img/stars.png" alt=""></div>
            <p class="default-text-14px">Baseado em 56 avaliações</p>
        </div>
        <hr class="line-from-reviews">
        <section class="avaliação-comentario-recomendação">
            <div class="nome-compra-section">
                <p class="nome-cliente">Nome cliente</p>
                <p class="compra-verificada"> <img src="assets/img/Vector.png" alt=""> Compra Verificada</p>
            </div>
            <div class="stars-review-recomendation-lorem-section">
                <p> <img src="assets/img/stars.png" alt=""> Há 6 mes(es)</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsum consequuntur earum sapiente provident. Nobis, deleniti unde hic sint rem expedita vero fugit cum veniam autem quasi sed. Quam, nobis?</p>
                <p><img src="assets/img/Vector.png" alt=""> Sim, recomendaria este produto a um amigo</p>
            </div>
        </section>
        <hr class="line-from-reviews">
        <section class="avaliação-comentario-recomendação">
            <div class="nome-compra-section">
                <p class="nome-cliente">Nome cliente</p>
                <p class="compra-verificada"> <img src="assets/img/Vector.png" alt=""> Compra Verificada</p>
            </div>
            <div class="stars-review-recomendation-lorem-section">
                <p> <img src="assets/img/stars.png" alt=""> Há 6 mes(es)</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsum consequuntur earum sapiente provident. Nobis, deleniti unde hic sint rem expedita vero fugit cum veniam autem quasi sed. Quam, nobis?</p>
                <p><img src="assets/img/Vector.png" alt=""> Sim, recomendaria este produto a um amigo</p>
            </div>
        </section>
        <hr class="line-from-reviews">
        <section class="avaliação-comentario-recomendação">
            <div class="nome-compra-section">
                <p class="nome-cliente">Nome cliente</p>
                <p class="compra-verificada"> <img src="assets/img/Vector.png" alt=""> Compra Verificada</p>
            </div>
            <div class="stars-review-recomendation-lorem-section">
                <p> <img src="assets/img/stars.png" alt=""> Há 6 mes(es)</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsum consequuntur earum sapiente provident. Nobis, deleniti unde hic sint rem expedita vero fugit cum veniam autem quasi sed. Quam, nobis?</p>
                <p><img src="assets/img/Vector.png" alt=""> Sim, recomendaria este produto a um amigo</p>
            </div>
            </section>
            <hr class="line-from-reviews">
            <div id="centralizar-paginaçao-avaliar-button">
                <div id="paginaçao"> <img src="assets/img/paginacao.png" alt=""></div>
                <button type="submit" name="" id="avaliar-button">AVALIAR</button>
        </div>
    </section>
    <div id="vertical-main-line"></div>
    <section id="doubts-section" class="reviews-section">
        <div id="duvidas-title-and-text">
            <p class="text-from-reviews-section">Dúvidas?</p>
            <p class="default-text-14px">Tem alguma dúvida sobre este produto? Pergunte ao lojista e outros compradores!</p>
        </div>
        <input type="text" name="text-area" id="doubt-text-area" placeholder=" Pergunte sobre o produto, como utilizá-lo ou peça alguma dica">
        <div id="centralize-button">
        <button type="submit" id="perguntar-button">PERGUNTAR</button>
        </div>
        <div>
            <p class="nome-cliente">Nome cliente</p>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas mollitia iste, hic maiores amet alias magni earum iure? Optio perferendis debitis sapiente. Dolore perspiciatis nobis doloribus quidem voluptatem id quis.</p>
            <div class="minor-line"></div>
            <p id="loja">Loja</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis officia necessitatibus est vero laboriosam veritatis quo, aut natus odit perferendis reprehenderit sit accusamus maxime, dolores, error vitae? Quas, quia quaerat.</p>
        </div>
        <div>
            <p class="nome-cliente">Nome cliente</p>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas mollitia iste, hic maiores amet alias magni earum iure? Optio perferendis debitis sapiente. Dolore perspiciatis nobis doloribus quidem voluptatem id quis.</p>
            <div class="minor-line"></div>
            <p id="loja">Loja</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis officia necessitatibus est vero laboriosam veritatis quo, aut natus odit perferendis reprehenderit sit accusamus maxime, dolores, error vitae? Quas, quia quaerat.</p>
        </div>
    </section>
</div>
