<footer>
    <section id="footer-menu">
        <section>
            <p class="footer-list-titles">Newsletter</p>
            <p>Assine nossa newsletter e fique por dentro de nossas<br>ofertas e novidades.</p>
            <input type="text" name="email" id="email" placeholder="Informe seu Email">
            <button type="submit" id="enviar">ENVIAR</button>
        </section>
        <section>
            <ul>
                <li class="footer-list-titles">Sobre</li>
                <li>Quem Somos</li>
                <li>Onde Encontrar</li>
                <li>Blog</li>
            </ul>
        </section>
        <section>
            <ul>
                <li class="footer-list-titles">Ajuda</li>
                <li>Pedidos</li>
                <li>Trocas e Devoluções</li>
                <li>FAQ</li>
                <li>Revenda</li>
            </ul>
        </section>
        <section>
            <p class="footer-list-titles">Redes Sociais</p>
            <ul id="redes-sociais">
                <li class="redes-sociais-icons"><img src="assets/img/Facebook.png" alt=""></li>
                <li class="redes-sociais-icons"><img src="assets/img/instagram.png" alt=""></li>
                <li class="redes-sociais-icons"><img src="assets/img/spotify.png" alt=""></li>
            </ul>
        </section>
        <section>
            <p class="footer-list-titles">Segurança</p>
            <ul id="security">
                <li class="security-icons"><img src="assets/img/ebit.png" alt=""></li>
                <li class="security-icons"><img src="assets/img/yourviews.png" alt=""></li>
            </ul>
        </section>
    </section>
    <section id="endereço-footer" class="endereço-footer">
        <p><span id="endereço">HERMOSO COMPADRE CONFECÇÃO LTDA</span>- CNPJ 12.069.071/0001-20 | RUA ANTÔNIO ALVES TAVEIRA, 2160 - VILA TÓTOLI, FRANCA-SP - CEP 14409-123</p>
        <p>Tecnologia: <span>VTEX</span></p>
    </section>
</footer>
